{{- $item := . -}}
{{- $image := "" -}}
{{- with $item.image_url -}}
  {{- $image = . -}}
{{- else -}}
  {{- with $item.manifest -}}
    {{- $raw := resources.GetRemote . -}}
    {{- if and $raw $raw.Content -}}
      {{- $manifest := $raw | transform.Unmarshal -}}
      {{- $seq := index $manifest.sequences 0 -}}
      {{- if $seq -}}
        {{- $canvas := index $seq.canvases 0 -}}
        {{- if $canvas -}}
          {{- $img := index $canvas.images 0 -}}
          {{- if $img -}}
            {{- $res := $img.resource -}}
            {{- if $res -}}
              {{- $svc := index $res "service" -}}
              {{- if $svc -}}
                {{- $svcId := index $svc "@id" -}}
                {{- if $svcId -}}
                  {{- $image = printf "%s/full/full/0/default.jpg" $svcId -}}
                {{- end -}}
              {{- end -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return $image -}}
